.toggleButtonContainer{
    background-color:var(--theme-color);
    width:2em;
    height:.5em;
    border-radius: 1.5em;
    position: relative;
    margin:1em;
}
.toggleButtonContainer .toggleButton{
    background-color: white;
    box-shadow: .1em .1em .1em rgba(0,0,0,.5);
    cursor: pointer;
    width:1.8em;
    height:1.8em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -.65em;
}