.parent {
    height: auto;
    width: 100%;
    background-color:var(--background-color);
}

.blur h1 {

    background: linear-gradient(to right, #00ff85 15%, #5000ff);
    color: transparent;
    background-clip: text;
    font-size: 400%;
    padding: .6%;
}

.blur p {
    font-size: larger;
    letter-spacing: 2px;
    color: #fefeff;
}

.feature,
.whyUs {
    min-height: 110vh;
    width: 90%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.whyBox
{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.whyDetail
{
    height: 52%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: justify;
    
}

.featureBox {
    display: grid;
    width: 100%;
    height: 80%;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 5%;
    column-gap: 5%;

}

.workFlow {
    height: auto;
    width: 90%;
    padding: 2% 5%;
}

.lastDiv {
    width: 100%;
    background-color: var(--light-back-color);
    height: 22rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about,
.contact {

    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10%;
    padding:1rem 2%;
    
}

.about {
    width: 55%;
    
}

.contact {
    width: 35%;
}
.contact> span{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lastRibbon {
    width: 92%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 4% 0 4%;
    align-items: center;
}