.parent *{
    letter-spacing: .05em;

}
.parent {
    height: auto;
    width: 100%;
}

.blur h1 {
    background: linear-gradient(to right, #00ff85 15%, #5000ff);
    color: transparent;
    background-clip: text;
    font-size: 400%;
    padding-bottom: .1em;
}

.blur p,.blur h3 {
    font-size: larger;
    color: #fefeff;
    padding-bottom:.4em;
    line-height: 1.5em;
}

.feature,
.whyUs {
    height: auto;
    width: 94%;
    display: flex;
    padding: 5% 3%;
    flex-direction: column;
    gap: 3em;
}
.whyBox
{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;
}
.whyDetail
{
    height: 52%;
    width: 19vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: justify;
    
}
.whoWeAre
{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 0% 2% 0%;
    gap:5%;

}
.detailWho,.imageWho{
    width: 28%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 2.1em;
    word-spacing: .15em;
    align-items: center;
    padding: 0% 9vw 0% 9vw;
    gap: 1em;

    
}
.socialMedia{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}


.featureBox {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

}

.workFlow {
    height: auto;
    width: 90%;
    
    padding: 2% 5%;
}

@media screen and (max-width:900px){
    .blur h3,.blur p{
        font-size: 1.5em;
    }
    .blur h1{
        font-size: 500%;
    }
    .imageWho{
        display: none;
    }
    .whyBox{flex-direction: column;align-items: flex-start;}
    .whyBox p{font-size: 1.2em;}
    .whyDetail{width: 90%;}
    .detailWho{width: 100%;} 
 }