.navContentContainer{
    width:100%;
    height: calc(94% - .5em);
    display:flex;
    background-color: var(--dark-transparent-color);
    backdrop-filter: blur(10px);
}

.sideNavContainer{
    padding:0 .25em;
    display:flex;
}

.mainDashboardContentContainer{
    height:var(100% - 1em);
    padding:.5em;
    overflow-y:auto;
}

.sectionHead{
    padding:0 .5em;
    margin: .2em 0;
    border-left:.1em solid var(--theme-color);
}

.divider{
    border:.2em solid var(--theme-color);
}

@font-face {
	font-family: Krutidev;
	src: url('./../../../assets/fonts/k010.ttf');
	src: local('k010'), url('./../../../assets/fonts/k010.woff') format('woff'), url('./../../../assets/fonts/k010.ttf') format('truetype');
}

@font-face {
	font-family: Mangal;
	src: url('./../../../assets/fonts/mangal.ttf');
	src: local('mangal'), url('./../../../assets/fonts/mangal.woff') format('woff'), url('./../../../assets/fonts/mangal.ttf') format('truetype');
}

@media only screen and (width <=900px){
    .sideNavContainer{
        width:100%;
        height: 100%;
        position: fixed;
        top:0;
        background-color: var(--transparent-color);
        z-index: 12;
        animation: fromleftfade .2s;
    }
}