.navContentContainer{
    width:100%;
    height: calc(94% - .5em);
    display:flex;
}
.sideNavContainer{
    padding:0em .25em;
    display:flex;
}
.mainContentContainer{
    overflow-x:hidden;
    overflow-y: auto;
    padding:.5em;
}
.sectionHead{
    padding:0em .5em;
    margin: .2em 0em;
    border-left:.1em solid var(--theme-color);
}
