.navContentContainer{
    width:100%;
    height: calc(100% - 4em);
    display:flex;
    place-self: flex-end;
}
.sideNavContainer{
    padding:0em 1em;
    display:flex;
}
.mainContentContainer{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: flex-start;
    overflow-x:hidden;
}
.sectionHead{
    width:100%;
    padding:0em .5em;
    margin-bottom: .2em;
    border-left:.1em solid var(--theme-color);
}
