.blurContainer
{
    height: auto;
    width: 100;
    background-size: cover;
    background-attachment: fixed;
}
.blur{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(3.5px);
    background-color: rgba(0, 0, 0, 0.408);
    gap: 2.8vh;
}