.blurContainer
{
    height: auto;
    width: 100;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.blur{
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:800px){
    .blur{
       
        align-items: flex-start;
        padding:0 6vw;
        line-height: 20PX;
 }
 .blur h1{padding: 3% 0;}
 
 }


