
.gradentBorder{
    height: 293px;
    width: 293px;
    border-radius: 28px;
    background: linear-gradient(45deg, var(--c1,#00ff85 ), var(--c1,#5000ff), var(--c1,#00ff85 ),var(--c1,#5000ff)) var(--x, 0)/ 200%;  
      transition:1s;
      padding: 3.5px;
      cursor: pointer;
}
.gradentBorder:hover{--x:100%;}
.field
{
 height: 213px;
 width: 249px;
 border-radius: 25px;
 background-color: var(--background-color);
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 12%;
 flex-direction: column;
 text-wrap:pretty;
 color: var(--text-color);
 padding:  40px 22px;
}
.field p
{
    text-align: start;
    word-spacing: 2px;
    width: 85%;
    font-size: large;
    color:var(--text-color-light);
}
.field h2
{
    text-align: center;
}