
.multiColorBorder{
    height: 14em;
    width: 14em;
    border-radius: 1em;
    background: linear-gradient(45deg, var(--c1,#00ff85 ), var(--c1,#5000ff), var(--c1,#00ff85 ),var(--c1,#5000ff)) var(--x, 0)/ 200%;  
      transition:1s;
      padding: .2em;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
}
.multiColorBorder:hover{--x:100%;}
.field
{
 height: 12em;
 width: 14em;
 border-radius: 1em;
 background-color: var(--background-color);
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 3%;
 padding: 1em 0;
 flex-direction: column;
 text-wrap:pretty;
 color: var(--text-color);
}
.field p
{
    text-align: start;
    width: 85%;
    font-size: large;
    color:var(--text-color-light);
}
.field h2
{
    font-size: medium;
    text-align: center;
}