# Ignore node_modules 
node_modules

# Build outputs
dist
build
.out
.next

# Static assets
public

# Logs (optional)
*.log

# Environment variables
.env
.env.*

# Ignore package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor config files 
.vscode/*
.idea/
