.playgroundContent{
    width:100%;
    display: flex;
    gap:1em;
    animation:fromleftfade .5s;
}
.playgroundInfoAndPendingContainer{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:1em;
}
 .playgroundInformation{
    padding:2em;
    border-radius: 1em;
    background:linear-gradient(var(--transparent-color),var(--dark-transparent-color)),url('../../assets/dashboard-welcome-light.jpeg');
    background-size: cover;
    background-position: center center;
}
.pendingTestContainer{
    min-height: 40%;
    padding:2em;
    background-color: var(--light-back-color);
    border-radius: 1em;
}
.playForm{
    width: 40%;
    padding:2em;
    display:flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: var(--light-back-color);
}
.conditionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0em .5em;
    font-size: 1.2em;
}
@media screen and (max-width:900px){
    .playgroundContent{flex-direction: column;padding:1em;}
    .playgroundInfoAndPendingContainer{width:100%;padding:1em;}
    .playForm{width: calc(100% - 2em);padding:1em;}
}