.playgroundContent{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:1em;
    animation:fromleftfade .5s;
}
.playgroundContent .informationContainer{
    width:45%;
    padding:.5em;
    display: flex;
    flex-direction: column;
    gap:.5em;
}
.playgroundContent .playForm{
    width:40%;
    padding:2em;
    display:flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: var(--light-back-color);
}
.conditionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0em .5em;
    font-size: 1.2em;
}
@media screen and (max-width:900px){
    .playgroundContent .informationContainer{
        width:calc(100% - 1em);
        max-height: 100%;
        position:absolute;
        background-color: var(--transparent-color);
        backdrop-filter: blur(15px);
        top:0;
        left:0;
        z-index: 5;
        animation:fromleftfade .5s;
    }
    .playgroundContent .playForm{
        width:90%;
    }
}