.textContent{
    color:var(--text-color-light); /* Safari */    /* Firefox */     /* Internet Explorer/Edge */
    user-select: none;  
    font-size: 1.3em;
}

.typedContent{
    color:var(--text-color);
}

.highlightedContent{
    color:var(--theme-color);
    text-decoration:underline;
    text-underline-offset: .2em;
}