.textContent{
    color:var(--text-color-light);
    user-select:none;
}
.typedContent{
    color:var(--text-color);
}
.highlightedContent{
    color:var(--theme-color);
    text-decoration:underline;
}