*
{
    margin: 0px;
    outline: 0px;
}
.containerBox
{
    width: 100%;
    min-height: 100%;
    display: grid;
    gap: 40px;
    
}
.inputImage
{
    width: 100%;
    height: 40vh;
   gap: 5%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.textArea
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
    height: 100%;
}
img
{
   height: 80%;
   width: 95%;
    border: 1px solid green;
}
.bodyBox{
    padding: 0% 4% 0% 4%;
}
.textboxContainer input{
    
    width: 30vw;
}
.textboxContainer input{
    
    border-bottom:.05em solid var(--text-color);
}
.achivement
{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achivement span{
    color:var(--text-color);
    border-bottom: .05em solid var(--theme-color);
    padding: 0px 3px 2px 3px;
    letter-spacing: 1px;
}
