.profile {
    padding-right: 2em;

    .profileContainer {
        width: 100%;
        min-height: 100%;
        display: grid;
        gap: 5em;

        .profileImage {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 4fr;

            .profileImageSection {
                display:flex;
                flex-direction: column;
                justify-content: center;
            }

            .textArea {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: space-around;
                height: 100%;

                .textAreaSavaEdit {
                    display: flex;
                    justify-content: end;
                    width: 100%;
                    gap: 1em;
                    z-index: 2;

                    button {
                        width: min-content;
                    }
                }

                .textboxContainer {
                    width: 45%;
                }
            }
        }

        .contactInfo {
            display: flex;
            flex-direction: row;

            .bio {
                width: 50%;
                position: relative;

                .bioSaveEdit {
                    position: absolute;
                    display: flex;
                    justify-content: end;
                    right: 2em;
                    z-index: 2;
                    gap: 1em;
                    top: -1em;

                    button {
                        width: min-content;
                    }
                }
            }

            .contact {
                width: 50%;

                .email,
                .phone {
                    display: flex;
                    width: 100%;
                    gap: 0.5em;
                }

                .email > button,
                .phone > button {
                    width: min-content;
                }
            }
        }

        .typingDetails {
            background-color: var(--light-back-color);
            border-radius: 0.5em;
            padding: 1.25em;
            width: 90%;
            margin: auto;

            h3 {
                margin-bottom: 1.25em;
                text-align: center;
                color: var(--text-color);
            }

            .typingModes {
                display: flex;
                justify-content: center;
                gap: 2em;
                margin-bottom: 1em;
            }

            .typingStats {
                display: flex;
                flex-direction: column;

                .statsHeader,
                .statsRow {
                    display: grid;
                    grid-template-columns: 8em 1fr 1fr 1fr;
                    padding: 0.5em 0;
                }

                .statsHeader {
                    color: var(--theme-color);
                }

                .statsRow {
                    color: var(--text-color);
                }
            }
        }

        .achivement {
            text-align: center;

            .achivementDetails {
                margin: 2em 0;
            }
        }
    }
}
