.profile {
    padding-right: 2em;

    .profileContainer {
        width: 100%;
        min-height: 100%;
        display: grid;
        gap: 5em;

        .profileImage {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 4fr;

            .profileImageSection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1em;
            }

            .textArea {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: space-around;
                height: 100%;

                .textAreaSavaEdit {
                    display: flex;
                    justify-content: end;
                    width: 100%;
                    gap: 1em;
                    z-index: 2;

                    button {
                        width: min-content;
                    }
                }

                .textboxContainer {
                    width: 45%;
                }
            }
        }

        .contactInfo {
            display: flex;
            flex-direction: row;

            .bio {
                width: 50%;
                position: relative;

                .bioSaveEdit {
                    position: absolute;
                    display: flex;
                    justify-content: end;
                    right: 2em;
                    z-index: 2;
                    gap: 1em;
                    top: -1em;

                    button {
                        width: min-content;
                    }
                }
            }

            .contact {
                width: 50%;

                .email,
                .phone {
                    display: flex;
                    width: 100%;
                    gap: 0.5em;
                }

                .email > button,
                .phone > button {
                    width: min-content;
                }
            }
        }

        .achivement {
            text-align: center;

            .achivementDetails {
                margin: 2em 0;
            }
        }
    }
}
