.toggleContainer{
    position: relative;
    padding:.5em;
}
.toggleContainer input{
    display: none;
}
.toggleContainer .toggle{
    color:var(--text-color);
    cursor: pointer;
    display: flex;
    gap:.5em;
}
.toggleModeTooltip{
    position:absolute;
    top:3em;
    right:0em;
    padding:.2em .5em;
    background-color: var(--transparent-color);
    z-index: 10;
    animation: fromtopfade .2s;
}