.timeContainer{
    padding:.2em;
    border-radius: 50%;
}

.time{
    width:6em;
    height:6em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2em;
    background:var(--light-back-color);
    border-radius: 50%;
}

@media screen and (width <=900px){
    .time{
        width:5em;
        height:5em;
        font-size: .8em;
    }
}