.percentageContainer{
    position:relative;
    width:250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.congratulation{
    position:absolute;
}

.outer{
    width:15em;
    height:15em;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    animation:appearfromright .5s ease-in-out;
    background-color: var(--background-color);
    transition: background-image 0.5s ease-in-out;
}

.inner{
    width:90%;
    height:90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-back-color);
    border-radius: 50%;
    font-size: 1.5em;
}
