.textboxContainer{
    width:90%;
    position:relative;
    margin:.5em;
}

.textboxContainer p{
    position: absolute;
    z-index: 0;
}

.textboxContainer input{
    width:100%;
    background-color: transparent;
    padding:.2em 0;
    font-size:1.6em;
    color:var(--text-color);
    border:none;
    outline:none;
    position: relative;
    z-index:1;
    border-bottom:.1em solid var(--text-color);
}

.textboxContainer input:focus{
    border-bottom:.1em solid var(--theme-color);
}
