.anchor{
    color:var(--theme-color);
    text-decoration: none;
}

.anchor:hover{
    text-decoration: underline;
}

.bordered-theme{
    color:var(--theme-color);
    border:.1em solid var(--theme-color);
    border-radius: 2em;
    padding:.4em 1em .5em;
    text-decoration: none;
}

.bordered-theme:hover{
    color:var(--background-color);
    background-color: var(--theme-color);
    box-shadow: var(--shadow);
}

.themed{
    color:var(--background-color);
    background-color: var(--theme-color);
    border-radius: 2em;
    padding:.4em 1em .5em;
    text-decoration: none;
    border:.1em solid transparent;
}

.themed:hover{
    box-shadow: var(--shadow);
}

.themed:hover .hyperlinkIcon{
    transform:translate(.1em,-.1em);
}

.trans-hover{
    background-color: var(--light-back-color);
    color:var(--text-color);
    border-radius: 2em;
    padding:.5em 1.2em;
    text-decoration: none;

}

.trans-hover:hover{
    color:var(--text-color);
    background-color: var(--transparent-color);

}

.premium{
    position: relative;
    background-color: var(--transparent-color);
    color:var(--theme-color);
    border-radius: 2em;
    padding:.4em 1em .5em;
    text-decoration: none;
    border:1px solid transparent;
}

.premium::after{
    content: "★"; /* Add a premium icon (like a star) */
    color: gold; /* Set the icon's color */
    position:absolute;
    right:-.1em;
    top:-.1em;
    transition: 1s;
}

.premium:hover::after{
    transform: rotate(360deg);
}