.popUpContainer{
    display:flex;
    gap:1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-color);
    backdrop-filter: blur(5px);
    position: fixed;
    right:0em;
    width:calc(100%);
    height:calc(100%);
    z-index:2;
    animation:fromleftfade .5s;
}