.playContainer{
	height:100%;
	width:100%;
	background-color: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow:hidden;
}

.contentContainer{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contentContainer.test{
	width:88%;
}
.contentContainer.info{
	width:10%;
	padding:0em 2em;
	background-color: var(--light-back-color);
	text-align: center;
	overflow:hidden scroll;
}
.textContainer{
	display: flex;
	height:46%;
	width:95%;
	font-size:1.5em;
	color:var(--text-color);
	overflow-y:auto;	
	-webkit-scroll-behavior: smooth;
	scroll-behavior: smooth;
	word-wrap: wrap;
	text-indent:2em;
}
.textContainer textarea{
	user-select: none; 
	width: 100%;
	height: calc(100% - .5em);
	outline:none;
    background: transparent;
	border: none;
	color:var(--text-color);
	resize: none;
	font-size:1.2em;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* Internet Explorer/Edge */
	 
}
@media only screen and (max-width:900px){
	.contentContainer{
		font-size: .7em;
	}
	.contentContainer.test{
		width:78%;
	}
	.contentContainer.info{
		width:25%;
	}
}
