.dashboardTopNavigation{
    width:calc(100% - 2em);
    padding:.25em 1em;
    height:6%;
    position: relative;
    background:var(--light-back-color);
    display:flex;
    justify-content: space-between;
    color:var(--text-color);

}
.dashboardTopNavigation .navElement{
    display:flex;
    justify-content: center;
    align-items: center;
}
.menuButton{
    padding:.5em;
    cursor: pointer;
    border-radius: 50%;
}
.menuButton:hover{
    background-color:var(--background-color);
}
.navElement:nth-child(1){
    justify-content: flex-start;
}
.navElement:nth-child(3){
    justify-content: flex-end;
}