.topNavigation{
    width:calc(100% - 2em);
    padding:.5em 1em;
    background:var(--light-back-color);
    display:flex;
    justify-content: space-between;
    color:var(--text-color);
}
.topNavigation .navElement{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navElement:nth-child(1){
    justify-content: flex-start;
}
.navElement:nth-child(3){
    justify-content: flex-end;
}