.topNavigation{
    width:calc(100% - 2em);
    padding:.5em 1em;
    background:var(--light-back-color);
    position:fixed;
    top:0em;
    color:var(--text-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}