.topNavigation{
    width:calc(100% - 2em);
    padding:.5em 1em;
    font-size: 1.2em;
    background-color:var(--transparent-color);
    position:fixed;
    top:0em;
    color:var(--text-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(15px);
    z-index: 2;
}
.navSlab
{
    list-style: none;
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
    text-decoration: none;
}
.topNavigation .navMenuButton{
    color:var(--theme-color);
    font-size: 1.5em;
    cursor: pointer;
}

@media only screen and (max-width:900px){
    .navSlab{
        width:100%;
        height:100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:fixed;
        top:0;right:0;
        background:var(--background-color);
        backdrop-filter: blur(5px);
        animation: fromrightfade .5s;
    }
}