.analyticsContainer{
    padding:1em;
}

.analyticsHeader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.candidateDetails{
    padding:1em 0;
    width: 100%;
}

.reportContainer{
    width:calc(100% - 3em);
    display: grid;
    grid-template-areas: 
        "item1 item1 item1 item2"
        "item1 item1 item1 item3"
        "item1 item1 item1 item4"
        "item5 item5 item5 item5"; /* Item 5 spans across all columns */

    grid-template-columns: 25% 25% 25% 25%; /* Column sizes */ 
    gap:.5em;
}

.reportContainer .item1{
    grid-area:item1;
}

.reportContainer .item2{
    grid-area:item2;
}

.reportContainer .item3{
    grid-area:item3;
}

.reportContainer .item4{
    grid-area:item4;
}

.reportContainer .item5{
    grid-area:item5;
}