.cardContainer{
    min-width: 15em;
    padding:1.5em;
    border-radius: 1em;
    background-color: var(--light-back-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-wrap: nowrap;
}
.topContainer{
    display: flex;
    align-items: flex-end;
}
.cardValue{
    font-size:5em;
}
.cardUnit{
    margin: 0;
    color:var(--theme-color);
    font-size:1em;
}
@media only screen and (max-width:820px) {
    .cardContainer{
        min-width:auto;
        width:auto;
        font-size: .8em;
    }
}