.cardContainer{
    min-width: 15em;
    padding:1.5em;
    border-radius: 1em;
    background-color: var(--light-back-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topContainer{
    display: flex;
    justify-content: space-between;
}
.cardValue{
    font-size:5em;
}
.cardValue span{
    margin: 0;
    color:var(--theme-color);
    font-size:.2em;
}