.container{
    width:100%;
    height:auto;
    display: flex;
    gap:.5em;
    flex-direction: column;
}
.form{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}