.container{
    width:100%;
    height:auto;
    display: flex;
    gap:.5em;
    flex-direction: column;
}

.formContainer{
    background-color: var(--dark-transparent-color);
    backdrop-filter: blur(10px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}