.confirmationBox{
    padding:1.5em;
    max-width: 25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:.5em;
    background-color: var(--background-color);
    border:.01em solid var(--text-color-light);
}

.confirmationBox p span{
    font-size: 1.1em;
}

@media screen and (width <=900px){
    .confirmationBox{
        max-width: 90%;
        font-size: .9em;
    }
}