.resultContent{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:1em;
    animation:fromleftfade .5s;
}
.resultTableContainer{
    min-height: 25em;
    background:var(--light-back-color);
}
.resultTableContainer table{
    width:100%;
    padding:.5em;
    font-size: 1.2em;
    margin:.1em;
}