.dashboardContent{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    animation:fromleftfade .5s;
}
.welcomeContainer{
    width:90%;
    padding:2em;
    border-radius: 1em;
    background:linear-gradient(var(--transparent-color),var(--dark-transparent-color)),url('../../assets/dashboard-welcome-dark.jpeg');
    background-size: cover;
    background-position: center bottom;
}
.eventContainer{
    padding:1em;
    border-radius: 1em;
    background:var(--light-back-color);
}
.eventContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}