.dashboardContent{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    animation:fromleftfade .5s;
}
.chartContainer,.eventContainer{
    padding:1em;
    border-radius: 1em;
    background:var(--light-back-color);
}
.eventContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}