.registerContainer{
    max-width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:.5em;
    padding:4em 2em;
    border-radius:.5em;
    background-color: var(--light-back-color);
    /* border:.1em solid var(--theme-color); */
    animation:fromleftfade .5s;
}
@media only screen and (max-width:800px){
    .registerContainer{
       width:100%;
    }
}