.circleButton{
    background-color: var(--background-color-light);
    border:none;
    border-radius:50%;
    position: absolute;
    cursor: pointer;
    padding:.7em .6em .4em;
}
.circleButton:hover{
    background-color: var(--transparent-color);
}