.pricingElementContainer{
    width:calc(100% - 2em);
    min-height: 20em;
    padding:1em;
    display: flex;
    gap:1em;
    flex-direction: column;
    align-items: center;
}

.priceCardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1em;
}

.planCard{
    display: flex;
    gap:1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 10em;
    background-color: var(--light-back-color);
    padding:2em;
    animation:fromleftfade .5s;
}

.planCard.exclusive{
    border:.5px solid var(--theme-color);
    position: relative;
    overflow:hidden
}

.planCard.exclusive::before {
    content: "Exclusive Deal";
    position: absolute;
    top:1.5em;
    left:-2.35em;
    padding: .5em 2em;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    transform: rotate(-45deg);
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

@media screen and (width <=900px) {
}