.loadingContainer{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes animate-svg-fill-1 {
    0% { fill: rgb(0 85 255); }
    50% { fill: rgb(200 200 200);}
    100% { fill: rgb(80 0 255); }
  }

  .svg-elem-1 {
    animation: animate-svg-fill-1 0.8s ease infinite;
    animation-delay: .1s;
  }

  @keyframes animate-svg-fill-2 {
    0% { fill: rgb(0 85 255); }
    50% { fill: rgb(200 200 200);}
    100% { fill: rgb(80 0 255);}
  }

  .svg-elem-2 {
    animation: animate-svg-fill-2 1s ease infinite;
    animation-delay: .2s;
  }

  @keyframes animate-svg-fill-3 {
    0% { fill: rgb(0 85 255); }
    50% { fill: rgb(200 200 200);}
    100% { fill: rgb(80 0 255); }
  }

  .svg-elem-3 {
    animation: animate-svg-fill-3 1s ease infinite;
    animation-delay: .3s;
  }

  @keyframes animate-svg-fill-4 {
    0% { fill: rgb(0 85 255); }
    50% { fill: rgb(200 200 200);}
    100% { fill: rgb(80 0 255); }
  }

  .svg-elem-4 {
    animation: animate-svg-fill-4 1s ease infinite;
    animation-delay: .4s;
  }
  