.checkboxContainer{
    display:flex;
    align-items: center;
    gap:.5em;
    padding:.2em .3em;
    border:.1em solid transparent;
    border-radius: 2em;
    cursor: pointer;
    color:var(--text-color);
}
.checkboxContainer .circle{
    height: .2em;
    width:.2em;
    padding:.5em;
    border:.1em solid var(--text-color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--background-color);
    background-color: var(--light-back-color);
}