.popUpContainer .details{
    max-height:60%;
    padding:2.5em;
    display:flex;
    gap:1em;
    overflow-y: scroll;
    background-color: var(--background-color);
    border:.1em solid var(--text-color-light);
}
.errors{
    overflow-y: scroll;
    /* scrolled error container */
}
.popUpContainer .errors tbody{
    font-size: 1.2em;
}
.details table td{
    padding:.2em 1em;
}
@media only screen and (max-width:820px){
    .popUpContainer .details{
        flex-direction: column;
        width: calc(98% - 2em);
        max-height: 98%;
        padding: 1em;
        border: 0.1em solid transparent;
    }
    .errors{
        overflow-y: visible;
    }
    
}