.popUpContainer .details{
    padding:4em;
    display:flex;
    gap:1em;
    background-color: var(--background-color);
    border:.1em solid var(--text-color-light);
}
.popUpContainer .errors tbody{
    font-size: 1.2em;
}
.details table td{
    padding:.2em 1em;
}