.resultDetailContainer{
    display:flex;
    gap:1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-color);
    backdrop-filter: blur(5px);
    position: absolute;
    right:.5em;
    width:calc(100% - 1em);
    height:calc(100% - 1em);
    z-index:1;
    animation:fromleftfade .5s;
}
.details{
    padding:4em;
    display:flex;
    gap:1em;
    background-color: var(--background-color);
    border:.1em solid var(--light-back-color);
}
.details table td{
    padding:.2em 1em;
}