.popUpContainer .details{
    max-height:60%;
    padding:2.5em;
    display:flex;
    gap:1em;
    background-color: var(--background-color);
    border:.1em solid var(--text-color-light);
}
.popUpContainer .details .congratulation{
    position:absolute;
}
.errors{
    overflow-x: scroll;
    /* scrolled error container */
}
.popUpContainer .errors tbody{
    font-size: 1.2em;
}
.details table td{
    padding:.2em 1em;
}