.popUpContainer .searchBox{
    padding:4em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    background-color: var(--background-color);
    border:.1em solid var(--light-back-color);
}