.informationContainer{
    width:100%;
    display:flex;
    gap:1em;
    justify-content: space-between;
}
.informationContainer .information{
    width:60%;
    display: flex;
    flex-direction: column;
    gap:.5em;
}
.informationContainer .commonInformation{
    width:30%;
    display: flex;
    align-items: flex-start;
    gap:.5em;
    flex-direction: column;
}
.commonInformation .qrcontainer{
    display: flex;
    flex-wrap: wrap;
    gap:1em;
}