.notificationContainer{
    padding:.5em;
    margin:1em;
    position:fixed;
    bottom:0em;
    right:0em;
    z-index: 10;
}
.msgContainer{
    min-width: 10em;
    max-width: 20em;
    min-height: 2em;
    word-break: keep-all;
    padding:.8em .2em;
    margin:.1em;
    border-radius:.5em;
    color: var(--text-color);
    background-color:var(--light-back-color);
    animation:fadeIn .5s;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    border:.01em solid var(--text-color-light)
}
.msgContainer p{
    padding:0em 1em;
}
.msgContainer .counter{
    width:100%;
    position:absolute;
    bottom: 0px;
    height:.1em;
}
@keyframes fadeIn{
    0%{opacity:0;transform:translateX(5em)}
    100%{opacity:1;transform:translateX(0px)}
}
@media only screen and (max-width:820px){
    .notificationContainer{
        font-size: .8em;
        top:1em;
        bottom: auto;
    }
}