:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --background-color:#101010;
  --light-back-color:#1a1a1a;
  --text-color:#fefeff;
  --text-color-light:#aaaadd;
  --theme-color:#00ff85;
  --theme-color-reverse:#5000ff;
  --transparent-color:rgba(0,0,0,.5);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark-theme{
  --background-color:#fefeff;
  --light-back-color:#1a1a1a;
  --text-color:#101010;
  --text-color-light:#202020;
  --theme-color-reverse:#00ff85;
  --theme-color:#5000ff;
  --transparent-color:rgba(255,255,255,.5);

}
body,html{width:100%;height:100vh;}
body,h1,h2,h3,p{
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color:var(--text-color);
}
.highlight{
  color:var(--theme-color);
}
*{
  transition:all .2s;
}
