.dotBox{
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 22em;
    border-style: solid;
    border-color: var(--theme-color);
   border-width:0;
   padding:2%;
   

}

.workExplain p{
letter-spacing: .1em;
}

.dotBox img{
   height: auto;
   width: 90%;
   max-width: fit-content;
}

@media screen and (width <=800px){
   .dotBox{
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      padding: 5vh 0;
      gap: 1.2em;
      
      
}

}