.dotBox{
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 22rem;
    border-style: dashed;
    border-color: var(--theme-color);
   border-width:0px 0px 2px 0px;
   padding:2%;
   

}
.workExplain p{
letter-spacing: .1em;
}