.sideNavigation{
    border-radius: 2.5em;
    padding:.5em .2em;
    border:.1em solid var(--theme-color);
    overflow-y:auto;
    display:flex;
    flex-direction: column;
    transition: width .5s;
}
@media only screen and (max-width:900px){
    .sideNavigation{
        border-radius: 1em;
        background-color: var(--transparent-color);
        backdrop-filter: blur(8px);
        padding:1em;
    }
}