.userNavigation{
    color:var(--text-color);
    padding:.6em;
    text-decoration: none;
    display:flex;
    align-items: center;
    gap:1em;
}

.userNavigation:hover{
    background-color: var(--background-color);
}

.userNavigation span{
    padding:0 .5em;
    font-size: 1.2em;
}